{% set static = "/" + appId + "/public" %}
{% if xfPage.xfPageConfig.head %}
<$ xfPage.xfPageConfig.head $>
{% endif %}
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>
<script src="<$ static $>/tailwindcss/tailwindcss.config.js"></script>
<style>
    main {
        background:  #f9f9f9;
    }
</style>
<main id="main" class="text-gray-800 ThemePage {% if constantUiMap.submenu[xfPage.categoryGroup] %}jh-has-submenu{% endif %}">
    <div class="py-20 text-center bg-white px-5">
        <div><$ xfPage.xfPageConfig.body.slogan | safe $></div>
    </div>

    <div class="md:flex container-lg my-14">
        <div class="flex-1 md:mr-20">
            <div><$ xfPage.xfPageConfig.body.introduce.content | safe $></div>
        </div>
        <div class="flex-1 mt-4 mt-md-0">
            <div class="rounded-t ml-md-4 img-box relative w-full h-0 overflow-hidden"
                 style="padding-top: 65%">
                <img class="absolute top-0 left-0 w-full h-auto" src="<$ xfPage.xfPageConfig.body.introduce.cover $>"/>
            </div>
        </div>
    </div>


    <div class="bg-white">
        <div class="container-lg py-14">
            <h2 class="text-green-500 font-bold mb-4 text-2xl text-center">
               <$ xfPage.xfPageConfig.body.teamMember.title $>
            </h2>
            <div>
                <$ xfPage.xfPageConfig.body.teamMember.desc | safe $>
            </div>
            <div class="grid md:grid-cols-3 gap-3 mt-10">
                {% for item in xfPage.xfPageConfig.body.teamMember.list %}
                <div class="intro-item flex items-center">
                    <div class="avatar w-40 h-40 d-flex items-center">
                       <div class="border-2 p-1 border-solid rounded-circle border-green-500">
                           <img class="img-fluid" src="<$ item.avatar $>" />
                       </div>
                    </div>
                    <div class="ml-4 md:mr-20">
                        <div class="text-black flex justify-content-between border-b-2 border-solid border-green-500 pb-2 mb-2 font-bold">
                            <p><$ item.position $></p>
                            <p><$ item.name $></p>
                        </div>
                        <p class="text-xs text-gray-600"><$ item.desc $></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="container-lg my-14">
        <h2 class="text-green-500 font-bold mb-4 text-2xl text-center">
            <$ xfPage.xfPageConfig.body.productIdea.title $>
        </h2>
        <ul class="mt-10">
            {% for item in xfPage.xfPageConfig.body.productIdea.list %}
            <li class="card text-xs text-gray-600 p-3 bg-white mb-4">
                <p class="text-base font-medium pl-4 border-l-4 border-solid border-green-500 text-green-500"><$ item.title $></p>
                <p class="mt-2"><$ item.desc $></p>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% include 'component/footer.html' %}

<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
<style>
</style>