{% set static = "/" + appId + "/public" %}
<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css"/>
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>
<style>
    .laptop {
        position: relative;
        width: 80%;
        padding-top: 52%;
        overflow: hidden;
        background: url('https://demo.jianghujs.org/jianghu-doc-v2-admin/upload/materialRepo/image/macbook-frame.png') no-repeat center center;
        background-size: 100% 90%;
    }


    .laptop-screen {
        position: absolute;
        top: 10%;
        left: 11.5%;
        width: 76.6%;
        height: 76%;
        background-color: #fff;
        overflow: hidden;
    }

    .laptop-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


</style>

<!-- 内容区 >>>>>>>>>>>>> -->
<main>
    <!--    应用介绍-->
    <div class="bg-white py-16">
        <div class="container-lg d-md-flex align-center justify-content-between h-full items-center">
            <div class="flex-1">
                <h1 class="text-5xl font-bold"><$ xfPage.xfPageConfig.body.title | safe $></h1>
                <div class="my-4 text-gray-500">
                    <p><$ xfPage.xfPageConfig.body.desc | safe $></p>
                </div>
                <div>
                    {% if xfPage.xfPageConfig.body.startBtnUrl %}
                    <a href="<$ xfPage.xfPageConfig.body.startBtnUrl $>" target="_blank">
                    <button type="button"
                            class="text-white bg-green-600 hover:bg-green-800 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2 mb-2 mr-5">
                        <$ xfPage.xfPageConfig.body.startBtnText $>
                    </button>
                    </a>
                    {% endif %}
                    {% if xfPage.xfPageConfig.body.githubProjectUrl %}
                    <a href="<$ xfPage.xfPageConfig.body.githubProjectUrl $>" target="_blank">
                        <button type="button"
                                class="bg-gray-100 hover:bg-gray-200 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2 mb-2">
                            <i class="fab fa-github me-1"></i>
                            GitHub
                        </button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="flex-1 mt-10 mt-md-0">
                <div class="rounded-t ml-md-4 img-box relative w-full h-0 overflow-hidden"
                     style="padding-top: 65%">
                    <img class="absolute top-0 left-0 w-full h-auto" src="<$ xfPage.xfPageConfig.body.cover $>"/>
                </div>

            </div>
        </div>
    </div>
    <!--    模块介绍-->
    {% for item in xfPage.xfPageConfig.features %}
    {% set itemIndex = loop.index %}
    <!--  根据不同index，不同的背景色  -->
    {% if itemIndex % 2 == 0 %}
    <div class="bg-white py-32 relative">
        <div style="background-size: 100% 100%;background-image: url('https://demo.jianghujs.org/jianghu-doc-v2-admin/upload/materialRepo/image/Rectangle 161@2x.png')"
             class="z-0 -rotate-180 w-2/3 md:w-3/6 h-96 absolute right-0 top-40"></div>
        {% else %}
        <div class="bg-gray-100 py-32 relative">
            <div style="background-size: 100% 100%;background-image: url('https://demo.jianghujs.org/jianghu-doc-v2-admin/upload/materialRepo/image/Rectangle 161@2x.png')"
                 class="z-0 w-2/3 md:w-3/6 h-96 absolute left-0 top-40"></div>
            {% endif %}
            <div class="container-lg relative">
                {% if itemIndex % 2 == 0 %}

                <div class="relative pb-10 d-md-flex align-center justify-content-between h-full items-center flex-row-reverse">
                    <div class="flex-1 d-flex justify-content-end">
                        {% else %}


                        <div class="relative pb-10 d-md-flex align-center justify-content-between h-full items-center">
                            <div class="flex-1">
                                {% endif %}
<!--                                <div class="rounded-t ml-md-4 img-box relative w-full h-0 overflow-hidden"-->
<!--                                     style="padding-top: 50%;">-->

<!--                                    <img class="absolute top-0 left-0 w-5/6 h-auto" src="<$ item.cover $>"/>-->
<!--                                </div>-->
                                <div class="laptop mx-auto md:mx-0">
                                    <div class="laptop-screen">
                                        <a href="https://example.com" target="_blank">
                                            <img src="<$ item.cover $>" alt="Custom Image" class="laptop-image">
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="flex-1 mt-10 mt-md-0 text-base text-gray-500">
                                <h2 class="text-xl font-bold text-black">
                                    <div>
                                        <$ item.category | safe $>
                                    </div>
                                </h2>
                                <p class="mb-4 mt-3"><$ item.desc | safe $></p>
                            </div>
                        </div>
                        <div class="grid md:grid-cols-3 gap-4">
                            {% for it in item.list %}
                            {% set itIndex = loop.index %}
                            <div class="card p-3">
                                <h3 class="text-xl font-medium d-flex align-center items-center">
                                    <img src="<$ it.icon $>" class="w-6 h-6 mr-2"/>
                                    <$ it.title $>
                                </h3>
                                <p class="mt-2 text-gray-500 text-sm"><$ it.content $></p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if xfPage.xfPageConfig.body.adTitle %}
            <div class="py-20 bg-green-600 text-white text-center">
                <h4 class="mb-4 text-2xl font-bold"><$ xfPage.xfPageConfig.body.adTitle $></h4>
                <a href="<$ xfPage.xfPageConfig.body.adUrl $>" target="_blank">
                    <button type="button"
                            class="text-green-600 bg-white hover:bg-green-200 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                        立即使用
                    </button>
                </a>
            </div>
            {% endif %}


</main>
{% include 'template/footer.html' %}


<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
<style>
</style>
