{% set static = "/" + appId + "/public" %}
<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css"/>
<link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.min.css"/>
<link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.all.min.css"/>
<style>
    .card-text {
        font-size: 14px;
        color: #7d899a;
        height: 45px;
    }
    .tag {
        color: #5e6d82;
        border-radius: 5px;
        padding: 1px 5px;
        font-size: 12px;
        height: fit-content;
        background: #f0f1f4;
    }

    .cover {
        height: 180px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .app-link a {
        color: #42b883;
    }
    .app-list {
        font-size: 14px;
    }

    main {
        background: transparent;
    }
</style>
<!--<div class="content-header mt-5 pt-5">-->
<!--    <main class="jianghu-header-mobile-container">123</main>-->
<!--</div>-->
<main>
    <div class="ThemePage container-lg mt-5 pt-5">
        <div class="row app-list">
            {% for item in xfPage.xfPageConfig.appList %}
            <div class="col-3 mb-4">
                <a href="<$ item.url $>" class="card pb-2">
                    <img class="cover" src="<$ item.cover $>"
                         alt="<$ item.title $>"/>
                    <div class="p-4">
                        <p class="card-text"><$ item.desc $></p>
                        <div class="d-flex flex-wrap tag-list">
                            {% for tag in item.tags %}
                            <div class="tag me-1">
                                <$ tag $>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</main>
<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.all.min.js"></script>
<style>
</style>
