{% set static = "/" + appId + "/public" %}
{% set xfpageSeoResourceUrl = ctx.app.config.xfpageSeoResourceUrl %}

<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css" />
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>

<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css" />

<style>
    .laptop {
        position: relative;
        width: 90%;
        padding-top: 60%;
        overflow: hidden;
        background-size: 100% 90%;
    }


    .laptop-screen {
        position: absolute;
        top: 10%;
        left: 11.5%;
        width: 76.6%;
        height: 76%;
        overflow: hidden;
    }

    .laptop-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }


    /* 介绍 */
    .jh-introduce {
        background-color: #fbfbfb;
    }

    /* 模块 */
    .jh-module .jh-block-1:nth-child(odd) {
        background-color: #FFFFFF;
    }

    .jh-module .jh-block-1:nth-child(even) {
        background-color: #fbfbfb;
    }

    /* 使用 */
    .jh-use {
        background-image: url(<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-landingPage/background_2.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }

    .jh-module-first-block {
        background-image: url(<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/devPlatform/bg_block01.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 768px) {
        .mdStyle>div {
            position: relative !important;
            left: 0 !important;
            top: 0 !important;
            right: 0 !important;
            bottom: 0 !important;
            transform: none !important;
        }

    }

    @media screen and (min-width: 768px) {
        .mdStyle2>div:nth-child(3)~div {
            display: none !important;
        }
    }
</style>

<!-- 内容区 >>>>>>>>>>>>> -->
<main class="ThemePage {% if constantUiMap.submenu[xfPage.categoryGroup] %}jh-has-submenu{% endif %}">
    <!-- 应用介绍 -->
    <div class="jh-introduce">
        <!-- section_1 -->
        {% if xfPage.xfPageConfig.section_1 %}
        {% include 'component/xfpageModule/section_1.html' %}
        {% endif %}

        {% if xfPage.xfPageConfig.body.list %}
        {% set listCardData = xfPage.xfPageConfig.body.list %}

        {% if xfPage.xfPageConfig.body.listStyle == "listCard2" %}
        {% include 'component/xfpageStyleModule/listCard2.html' %}
        {% else %}
        {% include 'component/xfpageStyleModule/listCard1.html' %}
        {% endif %}
        {% endif %}
    </div>

    <!-- 模块 -->
    <div class="jh-module">
        {% for item in xfPage.xfPageConfig.features %}
        {% set itemIndex = loop.index %}
        {% if item.isAppDesign %}
        <!-- 软件设计理念 -->
        <div class="jh-block-1 py-10 relative bg-white">
            {% if item.uiIndex == 1 %}
            <div class="container-lg relative">
                <div class="mt-10 mt-md-0 text-base text-gray-500 text-center">
                    <h2 class="text-2xl font-bold text-black">
                        <div>
                            <$ item.category | safe $>
                        </div>
                    </h2>
                </div>
                <div class="grid md:grid-cols-4 gap-4 mt-10">
                    {% for it in item.list %}
                    {% set itIndex = loop.index %}
                    <div class="p-2">
                        <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-11 h-11 m-auto md:block hidden" />
                        <div class="mt-2 font-medium text-sm text-center">
                            <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>"
                                class="w-8 h-8 m-auto md:hidden inline" />
                            <span class="md:text-baseline text-xl">
                                <$ it.title $>
                            </span>
                        </div>
                        <p class="mt-1 text-gray-500 md:text-sm text-center">
                            <$ it.content $>
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% elif item.uiIndex == 2 %}
            <div class="container-lg relative">
                <div class="mt-10 mt-md-0 text-base text-gray-500 text-center">
                    <h2 class="text-2xl font-bold text-black">
                        <div>
                            <$ item.category | safe $>
                        </div>
                    </h2>
                </div>
                <div class="grid md:grid-cols-2 gap-2 mt-10">
                    {% for it in item.list %}
                    {% set itIndex = loop.index %}
                    <div class="p-4 pt-2 bg-green-100">
                        <div class="mt-2 font-medium text-lg	">
                            <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-5 h-5 inline -mt-1" />
                            <$ it.title $>
                        </div>
                        <p class="mt-1 text-gray-500 text-sm">
                            <$ it.content $>
                        </p>
                        <div class="flex justify-end pt-4">
                            <div class="flex-1 pr-4">
                                {% for it2 in it.list %}
                                <div class="text-sm font-semibold pt-2 text-gray-500 flex items-start">
                                    <img src="<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-doc/app/Frame 278.svg"
                                        class="w-4 h-4" />
                                    <span class="flex-1 pl-2">
                                        <$ it2 | safe $>
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                            <img src="<$ xfpageSeoResourceUrl $><$ it.iconLg $>" class="w-30 h-30" />
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="grid md:grid-cols-3 gap-3 mt-10">
                    {% for it in item.list2 %}
                    {% set itIndex = loop.index %}
                    <div class="p-4 pt-2 bg-green-100">
                        <div class="mt-2 font-medium text-lg	">
                            <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-5 h-5  -mt-1 inline" />
                            <$ it.title $>
                        </div>
                        <p class="mt-1 text-gray-500 text-sm">
                            <$ it.content $>
                        </p>
                        <div class="flex justify-end pt-4">
                            <div class="flex-1 pr-4">
                                {% for it2 in it.list %}
                                <div class="text-sm font-semibold pt-2 text-gray-500 flex items-start">
                                    <img src="<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-doc/app/Frame 278.svg"
                                        class="w-4 h-4" />
                                    <span class="flex-1 pl-2">
                                        <$ it2 | safe $>
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% elif item.isTemplateV3 %}
        <!-- 首页的布局 -->
        <div class="jh-block-1 relative">
            {% if item.bg %}
            <div class="z-0 absolute inset-0 bg-auto bg-repeat h-full bg-zinc-100"
                style="background-image: url('<$ xfpageSeoResourceUrl $><$ item.bg $>');"></div>
            {% endif %}

            <div class="container-lg relative">
                <div class="relative h-full py-10">
                    {% if item.uiIndex == 1 %}
                    <div class="pb-10">
                        <div class="mt-md-0 text-base text-gray-500 text-center">
                            <h2 class="text-2xl font-bold text-black">
                                <div>
                                    <$ item.category | safe $>
                                </div>
                            </h2>
                            <div class="mt-3 md:text-md text-sm text-gray-600">
                                <div><$ item.desc | safe $></div>
                            </div>
                        </div>
                        <div class="text-center relative mdStyle">
                            <img class="d-inline" src="<$ xfpageSeoResourceUrl $><$ item.cover $>"
                                alt="<$ item.category $>" class="laptop-image">
                            {% for it in item.list %}
                            {% set itIndex = loop.index %}
                            <div class="p-3 <$ it.style $>">
                                <h3 class="text-md font-bold d-flex align-center items-center">
                                    <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="<$ it.iconSize $> mr-2" />
                                    {% if item.title != "" %}<$ it.title $>{% endif %}
                                </h3>
                                {% if item.content != "" %}
                                <p class="mt-2 text-gray-500 text-sm ml-8 text-left">
                                    <$ it.content $>
                                </p>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% elif item.uiIndex == 2 %}
                    <div class="flex justify-between pb-3">
                        <div>
                            <h2 class="text-2xl font-bold text-black">
                                <div>
                                    <$ item.category | safe $>
                                </div>
                            </h2>
                            <p class="mt-3 md:text-md text-sm text-gray-600">
                                <$ item.subtitle | safe $>
                            </p>
                            <img src="<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-doc/app/1.png"
                                class="md:hidden block w-[80vw] my-4 mx-auto" alt="">
                            <div class="mdStyle2">
                                {% for it in item.list %}
                                {% set itIndex = loop.index %}
                                <div class="py-3 <$ it.style $>">
                                    <h3 class="text-md font-bold d-flex align-center items-center">
                                        <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-9 h-9 mr-2" />
                                        <$ it.title $>
                                    </h3>
                                    {% if item.content != "" %}
                                    <p class="mt-2 text-gray-500 text-sm ml-11 text-left">
                                        <$ it.content $>
                                    </p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="relative flex-1 flex md:block hidden">
                            <img src="<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-doc/home/Rectangle 320.png"
                                class="absolute z-0 right-10 w-[604px] h-[388px]" alt="">
                            <img src="<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-doc/home/Rectangle 321.png"
                                class="absolute z-1 right-0 top-10 w-[580px] h-[338px]" alt="">
                            <div class="mt-3 text-gray-500 absolute z-2 right-10 top-10 max-w-[520px]">
                                <$ item.desc | safe $>
                            </div>
                            <div class="mt-3 absolute z-2 right-10 bottom-5 max-w-[520px]">
                                <div class="grid md:grid-cols-2 gap-2">
                                    {% for it in range(4, item.list.length) %}
                                    {% set itIndex = loop.index %}
                                    <div class="card p-2">
                                        <div class="mt-2 font-medium text-sm">
                                            <$ item.list[it].title $>
                                        </div>
                                        <p class="mt-1 text-gray-500 text-sm">
                                            <$ item.list[it].content $>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif item.uiIndex == 3 %}
                    <div class="flex flex-md-row flex-col justify-md-between">
                        <div class="flex-1 mt-0 text-base text-gray-500">
                            <h2 class="text-2xl font-bold text-black">
                                <div>
                                    <$ item.category | safe $>
                                </div>
                            </h2>
                            <div class="mt-3 md:text-md text-sm text-gray-600">
                                <div><$ item.desc | safe $></div>
                            </div>
                        </div>
                        {% if item.isNotInComputer %}
                        <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                            class="laptop-image h-72">
                        {% else %}
                        <div class="laptop mx-auto md:mx-0">
                            <div class="laptop-screen">
                                <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                                    class="laptop-image h-72">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="rounded-2xl shadow-xl shadow-blue-950/5 -mt-[80px] z-1 relative"
                        style="border: 1px solid rgba(66, 184, 131, 0.1)!important;">
                        <div class="size-full backdrop-blur-xl bg-white/30 rounded-2xl">
                            <div class="grid md:grid-cols-4 gap-4 p-2">
                                {% for it in item.list %}
                                {% set itIndex = loop.index %}
                                <div class="p-2">
                                    <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-9 h-9 mr-2" />
                                    <div class="mt-2 font-medium text-md">
                                        <$ it.title $>
                                    </div>
                                    <p class="mt-1 text-gray-500 text-sm">
                                        <$ it.content $>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% elif item.uiIndex == 4 %}
                    <div class="mt-md-0 text-base text-gray-500 text-center">
                        <h2 class="text-2xl font-bold text-black">
                            <div>
                                <$ item.category | safe $>
                            </div>
                        </h2>
                        <div class="mt-3 md:text-md text-sm text-gray-600">
                            <div><$ item.desc | safe $></div>
                        </div>
                    </div>
                    <div class="grid md:grid-cols-3 gap-5 p-2">
                        {% for it in item.list %}
                        <div class="flex flex-col items-stretch">
                            <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-[330px] h-[180px] m-auto" />
                            <div class="mt-2 font-medium text-md text-center">
                                <$ it.title $>
                            </div>
                            <p class="mt-1 text-gray-500 text-sm text-center h-10">
                                <$ it.content $>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    {% elif item.uiIndex == 5 %}

                    <div class="relative md:h-[650px]">
                        <div class="md:absolute md:right-0 md:-mr-48 w-full md:w-3/5  rounded-s-lg h-64 md:block"
                            style="background-color: #42B883;">
                            <div class="md:pl-48 md:pt-10 pl-4 pt-4 text-white">
                                <h2 class="text-2xl font-bold ">
                                    <div>
                                        <$ item.category | safe $>
                                    </div>
                                </h2>
                                <div class="mt-3 md:text-md text-sm text-white">
                                    <div>
                                        <$ item.desc | safe $>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:absolute md:left-0 md:-ml-24 md:pl-24 rounded-r-2xl shadow-xl shadow-blue-950/5 md:block translate-y-[80px] z-1  md:w-4/5 backdrop-blur-md bg-white/30"
                            style="border: 1px solid rgba(66, 184, 131, 0.1)!important;">
                                <div class="grid md:grid-cols-3 gap-3 p-2">
                                    {% for it in item.list %}
                                    {% set itIndex = loop.index %}
                                    <div class="p-2">
                                        <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-9 h-9 mr-2" />
                                        <div class="mt-2 font-medium text-sm">
                                            <$ it.title $>
                                        </div>
                                        <p class="mt-1 text-gray-500 text-sm">
                                            <$ it.content $>
                                        </p>
                                    </div>
                                    {% endfor %}
                                </div>
                        </div>

                        <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                            class="laptop-image h-72 md:mt-0 mt-32 md:absolute bottom-20 right-0 block md:w-[302px] h-auto">

                    </div>
                    {% elif item.uiIndex == 6 %}
                    <div class="flex">
                        <div class=" w-3/12 md:block hidden">
                            <h2 class="text-2xl font-bold text-black">
                                <div>
                                    <$ item.category | safe $>
                                </div>
                            </h2>
                            <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                                class="w-auto h-md-[360px] h-sm-auto">
                        </div>
                        <div class="flex-1">
                            <h2 class="text-2xl font-bold text-black md:hidden">
                                <div>
                                    <$ item.category | safe $>
                                </div>
                            </h2>
                            <div class="mt-3 md:text-md text-sm text-gray-600">
                            <div>
                                <$ item.desc | safe $>
                            </div>
                            </div>
                            <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                                class="w-auto h-md-[360px] h-sm-auto md:hidden">
                            <div class="grid md:grid-cols-3 gap-3 pt-4">
                                {% for it in item.list %}
                                {% set itIndex = loop.index %}
                                <div class="card p-3">
                                    <div>
                                        <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>"
                                            class="w-9 h-9 mr-2 d-inline" />
                                        <span class="mt-2 font-medium text-sm">
                                            <$ it.title $>
                                        </span>
                                    </div>
                                    <p class="mt-1 text-gray-500 text-sm">
                                        <$ it.content $>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% elif item.uiIndex == 7 %}
                    <div class="flex-1 mt-md-0 text-base text-gray-500">
                        <h2 class="text-2xl font-bold text-black">
                            <div>
                                <$ item.category | safe $>
                            </div>
                        </h2>
                        <p class="mt-3">
                            <$ item.desc | safe $>
                        </p>
                    </div>
                    <div class="grid md:grid-cols-3 gap-12 pt-6">
                        {% for it in item.list %}
                        {% set itIndex = loop.index %}
                        <div class="card hover:-translate-y-2 transition-all" style="border-radius: 8px 8px 8px 8px;">
                            <div class="p-3 pb-1">
                                <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-6 h-6 mr-2 d-inline" />
                                <span class="mt-2 font-medium text-sm">
                                    <$ it.title $>
                                </span>
                            </div>
                            <p class="mt-1 text-gray-500 text-sm px-3 pb-2">
                                <$ it.content $>
                            </p>
                            <img src="<$ xfpageSeoResourceUrl $><$ it.cover $>" style="border-radius: 0 0 8px 8px;"
                                class="w-full h-[225px] object-cover" />
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% elif itemIndex % 2 == 0 %}
    <div class="jh-block-1 py-32 relative">
        <div class="jh-background z-0 -rotate-180 w-2/3 md:w-3/6 h-96 absolute right-0 top-60"></div>
        <div class="container-lg relative">
            <div
                class="relative pb-10 d-md-flex align-center justify-content-between h-full items-center flex-row-reverse">
                <div class="flex-1 d-flex justify-content-end">
                    {% if item.isNotInComputer %}
                    <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                        class="laptop-image">
                    {% else %}
                    <div class="laptop mx-auto md:mx-0">
                        <div class="laptop-screen">
                            <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                                class="laptop-image">
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="flex-1 mt-md-0 text-base text-gray-500">
                    <h2 class="text-2xl font-bold text-black">
                        <div>
                            <$ item.category | safe $>
                        </div>
                    </h2>
                    <div class="mt-3 md:text-md text-sm text-gray-600">
                    <div>
                        <$ item.desc | safe $>
                    </dkv>
                    </div>
                </div>
            </div>
            {% set listCardData = item.list %}
            {% include 'component/xfpageStyleModule/listCard2.html' %}

        </div>
    </div>
    {% else %}
    <div class="jh-block-1 py-32 relative">
        <div class="jh-background z-0 w-2/3 md:w-3/6 h-96 absolute left-0 top-60"></div>
        <div class="container-lg relative">
            <div class="relative pb-10 d-md-flex align-center justify-content-between h-full items-center">
                <div class="flex-1">
                    {% if item.isNotInComputer %}
                    <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                        class="laptop-image">
                    {% else %}
                    <div class="laptop mx-auto md:mx-0">
                        <div class="laptop-screen">
                            <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>" alt="<$ item.category $>"
                                class="laptop-image">
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="flex-1 mt-10 mt-md-0 text-base text-gray-500">
                    <h2 class="text-2xl font-bold text-black">
                        <div>
                            <$ item.category | safe $>
                        </div>
                    </h2>
                    <p class="mt-3">
                        <$ item.desc | safe $>
                    </p>
                </div>
            </div>
            {% set listCardData = item.list %}
            {% include 'component/xfpageStyleModule/listCard2.html' %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>

    <!-- 使用 -->
    {% if xfPage.xfPageConfig.body.adTitle %}
    <div class="py-20 bg-green-600 text-white text-center jh-use">
        <h4 class="mb-4 text-2xl font-bold">
            <$ xfPage.xfPageConfig.body.adTitle $>
        </h4>
        <a href="<$ xfPage.xfPageConfig.body.adUrl $>" target="_blank">
            <button type="button"
                class="text-green-600 bg-white hover:bg-green-200 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                立即使用
            </button>
        </a>
    </div>
    {% endif %}

    <!-- why choose -->
    {% include 'component/xfpageModule/whyChoose.html' %}
</main>
{% include 'component/footer.html' %}


<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
<style>
</style>