{% set static = "/" + appId + "/public" %}
{% set xfpageSeoResourceUrl = ctx.app.config.xfpageSeoResourceUrl %}
<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css" />
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>
<script src="<$ static $>/tailwindcss/tailwindcss.config.js"></script>
<style>
  /* 模块 */
  .jh-module .jh-block-1:nth-child(odd) {
      background-color: #fbfbfb;

  }

  .jh-module .jh-block-1:nth-child(even) {
      background-color: #FFFFFF;

  }

  /* 使用 */
  .jh-use {
      background-image: url(<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-landingPage/background_2.png);
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
  }

  .jh-module-first-block {
      background-image: url(<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/devPlatform/bg_block01.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }

  @media screen and (max-width: 768px) {
      .mdStyle>div {
          position: relative !important;
          left: 0 !important;
          top: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          transform: none !important;
      }

  }

  @media screen and (min-width: 768px) {
      .mdStyle2>div:nth-child(3)~div {
          display: none !important;
      }
  }
</style>

<!-- 内容区 >>>>>>>>>>>>> -->
<main class="ThemePage {% if constantUiMap.submenu[xfPage.categoryGroup] %}jh-has-submenu{% endif %}">
  <!-- 菜单 -->
  {% if xfPage.xfPageConfig.menus %}
  {% include 'component/xfpageModule/menus.html' %}
  {% endif %}

  <div class="jh-module">
      {% for section, value in xfPage.xfPageConfig %}

      {% if section.includes('section_') and xfPage.xfPageConfig[section] %}
      <div class="jh-block-1">
        {% if xfPage.xfPageConfig[section].xfpageModule %}
        {% include 'component/xfpageModule/' + xfPage.xfPageConfig[section].xfpageModule + '.html' %}
        {% else %}
        {% include 'component/xfpageModule/' + section + '.html' %}
        {% endif %}
      </div>

      {% if xfPage.xfPageConfig[section].listStyle == "listCard1" %}
      {% set listCardData = xfPage.xfPageConfig[section].list %}
      <div class="container-lg">
          {% include 'component/xfpageModule/listCard1.html' %}
      </div>
      {% endif %}

      {% endif %}
      {% endfor %}
  </div>

  <!-- 使用 -->
  {% if xfPage.xfPageConfig.use %}
  {% include 'component/xfpageModule/use.html' %}
  {% endif %}

  <!-- why choose -->
  {% include 'component/xfpageModule/whyChoose.html' %}

</main>
{% include 'component/footer.html' %}


<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>