{% set static = "/" + appId + "/public" %}
{% set xfpageSeoResourceUrl = ctx.app.config.xfpageSeoResourceUrl %}

<link rel="stylesheet" href="<$ static $>/mdbootstrap/font-awesome.6.1.1.min.css" />
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>
<script src="<$ static $>/tailwindcss/tailwindcss.config.js"></script>

<!-- 内容区 >>>>>>>>>>>>> -->
<main class="ThemePage {% if constantUiMap.submenu[xfPage.categoryGroup] %}jh-has-submenu{% endif %}">
    <!-- section_1 -->
    {% if xfPage.xfPageConfig.section_1 %}
    {% include 'component/xfpageModule/section_1.html' %}
    {% endif %}

    <!-- section_2 -->
    {% if xfPage.xfPageConfig.section_2 %}
    {% include 'component/xfpageModule/section_2.html' %}
    {% endif %}

    <!-- section_3 -->
    {% if xfPage.xfPageConfig.section_3 %}
    {% include 'component/xfpageModule/section_3.html' %}
    {% endif %}

    <!-- section_4 -->
    {% if xfPage.xfPageConfig.section_4 %}
    {% include 'component/xfpageModule/section_4.html' %}
    {% endif %}

    <!-- section_5 -->
    {% if xfPage.xfPageConfig.section_5 %}
    {% include 'component/xfpageModule/section_5.html' %}
    {% endif %}
 
    <!-- 使用 -->
    {% if xfPage.xfPageConfig.use %}
    {% include 'component/xfpageModule/use.html' %}
    {% endif %}

    <!-- why choose -->
    {% include 'component/xfpageModule/whyChoose.html' %}
</main>
{% include 'component/footer.html' %}


<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
