{% set static = "/" + appId + "/public" %}
<link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.min.css"/>
<link rel="stylesheet" href="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.all.min.css"/>
<script src="<$ static $>/tailwindcss/tailwindcss.js"></script>
<script src="<$ static $>/tailwindcss/tailwindcss.config.js"></script>
<style>
    main {
        background: transparent;
    }
</style>
<main id="main" class="bg-gradient ThemePage {% if constantUiMap.submenu[xfPage.categoryGroup] %}jh-has-submenu{% endif %}">
    <div>
        <div class="container-lg p-4">

            <div style="position: fixed; top: 115px; left: 0; width: 100%; padding-top: 10px; padding-bottom: 10px; background: #fafafa;">
                <form class="max-w-2xl mx-auto">
                    <div class="relative border border-gray-300 bg-white overflow-hidden rounded-full">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                        </div>
                        <input type="search" id="default-search"
                               class="block bg-white w-full ml-5 p-4 py-3 text-sm text-gray-900 rounded bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                               placeholder="搜索资源库，例如：jianghujs" required/>
                    </div>
                </form>
            </div>


            <div style="height: 30px;"></div>
            <!-- <p class="text-sm font-normal text-gray-500 dark:text-gray-400">资源列表</p> -->
            <div class="bg-white bg-white rounded-xl my-4">
                <ul class="list py-4">
                    {% for item in xfPage.xfPageConfig.resourceList %}
                    <li class="item">
                        <a class="p-4 border-b border-solid border-gray-200 hover:bg-gray-100 text-gray-500 flex items-center hover:text-gray-500"
                           href="<$ item.link $>" target="_blank">
                            {% if item.icon %}
                            <$ item.icon | safe $>
                            {% endif %} 

                            {% if not item.icon %}
                            <img class='avatar mr-2 d-none d-md-block' alt='Owner avatar' src='/<$ ctx.app.config.appId $>/public/logo.svg' width='24' height='24'>
                            {% endif %} 
                            
                            <span class="ms-3 w-2/5 whitespace-nowrap text-black font-medium item-title"><$ item.title $></span>
                            <span class="hidden md:block"><$ item.desc $></span>
                        </a>
                    </li>
                    {% endfor %}
                    <div class="empty text-center text-gray-500 pa-4">没有资源</div>
                </ul>
            </div>

        </div>
    </div>
</main>
{% include 'component/footer.html' %}
<script>
    // jquery根据search框的值过滤列表
    $(document).ready(function () {
        $('.empty').hide()

        $("#default-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".item").filter(function () {
                $(this).toggle($(this).find('.item-title').text().toLowerCase().indexOf(value) > -1)
            });
            // 没有搜索到数据时显示empty
            if ($('.item:visible').length === 0) {
                $('.empty').show();
            } else {
                $('.empty').hide();
            }
        });
    });
</script>
<script type="text/javascript" src="<$ static $>/mdbootstrap/MDB5-Pro-Advanced_4.4.0.mdb.min.js"></script>
<style>
</style>