.DS_Store
crawling_data
node_modules
checker/node_modules
.cache
src/__pycache__/
src/strategies/__pycache__/
*.pyc

update.sh
.python-version
.tox

*yarn.lock

# IDE Files
.idea/
*.iml
geckodriver.log
.vscode/

configs/public
configs/private


.env
scraper_seo_article_all.json
scraper_seo_article_public.json
