<style>

</style>
{% set section = xfPage.xfPageConfig.section_4 %}
<!-- 模块 4 -->
<div class="container-lg relative py-10">
    <div class="mt-10 mt-md-0 text-base text-gray-500 text-center">
        <h2 class="text-2xl font-bold text-black">
            <div>
                <$ section.title | safe $>
            </div>
        </h2>
    </div>
    <div class="grid md:grid-cols-4 gap-4 mt-10">
        {% for it in section.list %}
        {% set itIndex = loop.index %}
        <div class="p-2">
            <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-11 h-11 m-auto md:block hidden" />
            <div class="mt-2 font-medium text-sm text-center">
                <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-8 h-8 m-auto md:hidden inline" />
                <span class="md:text-baseline text-xl">
                    <$ it.title $>
                </span>
            </div>
            <p class="mt-1 text-gray-500 md:text-sm text-center">
                <$ it.content $>
            </p>
        </div>
        {% endfor %}
    </div>
</div>