<style>

</style>
{% set item = value %}

<!-- 模块 17 -->
<div class="container-lg py-16 relative md:bg-none bg-no-repeat bg-cover">
    <div class="flex justify-between pb-3">
        <div>
            <h2 class="text-2xl font-bold text-black">
                <div>
                    <$ item.category | safe $>
                </div>
            </h2>
            <p class="mt-3 md:text-md text-[15px] text-gray-600">
                <$ item.subtitle | safe $>
            </p>
            <div class="mt-6">
                {% for it in item.list %}
                {% set itIndex = loop.index %}
                <div class="py-3 <$ it.style $>">
                    <h3 class="text-md font-bold d-flex align-center items-center">
                        <img src="<$ xfpageSeoResourceUrl $><$ it.icon $>" class="w-4 h-4 mr-2" />
                        <$ it.title $>
                    </h3>
                    {% if item.content != "" %}
                    <p class="mt-2 text-gray-500 text-sm ml-6 text-left">
                        <$ it.content $>
                    </p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="relative flex-1 flex md:block hidden">
            <img src="<$ xfpageSeoResourceUrl $><$ item.cover $>"
                class="absolute z-0 right-10 max-w-[616px]" alt="">
        </div>
    </div>
</div>
