<style>
    /* 使用 */
    .jh-use {
        background-image: url(<$ xfpageSeoResourceUrl $>/upload/materialRepo/image/jianghu-landingPage/background_2.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
</style>

<!-- 使用 -->
<div class="py-20 bg-green-600 text-white text-center jh-use">
    <h4 class="mb-4 text-2xl font-bold">
        <$ xfPage.xfPageConfig.use.title $>
    </h4>
    <a href="<$ xfPage.xfPageConfig.use.url $>" target="_blank">
        <button type="button"
            class="text-green-600 bg-white hover:bg-green-200 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
            立即使用
        </button>
    </a>
</div>
