<footer class="text-sm bg-white border-t border-solid border-gray-100">
    <div class="jianghu-content container-lg py-10">
        <div class="md:flex">
            <div class="w-96">
                <div class="font-bold text-green-500 flex justify-start items-start">
                    <img src="<$ ctx.app.config.appLogo $>" class="jianghu-image w-10"/>
<!--                    <span class="leading-10 d-block text-base"><$ constantUiMap.header.title | safe $></span>-->
                </div>
                <div class="contant-list text-gray-400 text-lg mt-2">
                    {% for item in constantUiMap.footer.contacts %}
                    {% if item.link === '' %}
                    <a class="p-2 d-inline-block" href="javascript:void(0);"><i class="<$ item.icon $>"></i></a>
                    {% else %}
                    <a class="p-2 d-inline-block" href="<$ item.link $>"><i class="<$ item.icon $>"></i></a>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="qrcode flex items-center mt-2">
                    <div class="rounded-t ml-md-4 img-box relative w-24 h-0 overflow-hidden bg-gray-200"
                         style="padding-top: 24%">
                        <img class="absolute top-0 left-0 w-24" src="<$ constantUiMap.footer.qrcode.img $>"/>
                    </div>

                    <div class="text-left text-base ml-2">
                        <p class="text-gray-500 text-black"><$ constantUiMap.footer.qrcode.title $></p>
                        <p class="text-gray-500 text-xs"><$ constantUiMap.footer.qrcode.subtitle $></p>
                    </div>
                </div>
            </div>


            <div class="flex-1">
                <div class="flex justify-content-end">
                    {% for item in constantUiMap.links %}
                    <div class="flex-1 text-left">
                        <div class="jianghu-title mt-4 mt-md-0 font-bold text-base"><$ item.label $></div>
                        <div class="jianghu-text text-gray-500">
                            {% for it in item.list %}
                            {% if it.path.includes('http') %}
                            <a href="<$ it.path $>" target="_blank" class="text-reset"><p class="mt-3"><$ it.title
                                $></p></a>
                            {% elif it.path === '' %}
                            <a href="javascript:void(0);" class="text-reset"><p class="mt-3"><$ it.title $></p></a>
                            {% else %}
                            <a href="<$ it.path $>" class="text-reset"><p class="mt-3"><$ it.title $></p></a>
                            {% endif%}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="p-4 text-center" style="background: #fbfbfb">
        <p class="m-0 text-black font-medium mb-2">版权声明</p>
        <p class="m-0 text-gray-600">本中文文档内容版权为JiangHuJS官方团队及翻译贡献者所有，保留所有权利。</p>
    </div>
</footer>