{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold">快捷创建 seo 应用
          </div>
        </v-col>
        <!-- pc端的搜索条件表单 >>>>>>>> -->
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-3">
            <div class="jh-backend-search-btn">
              <v-btn class="elevation-0 float-right mt-2 mt-md-0" color="success" small @click="insertItem">
                <v-icon class="mr-1" small>mdi-content-save-all</v-icon>
                保存
              </v-btn>
            </div>
          </v-row>
        </v-col>
        <!-- <<<<<<<< pc端的搜索条件表单 -->
      </v-row>
    </div>
    <!-- 页面主要内容 -->
    <div class="jh-page-body-container px-8" style="min-height: calc(100vh - 200px); max-height: calc(100vh - 200px); ">
      <v-form ref="createForm" lazy-validation>
        <!-- 抽屉的主体 >>>>>>>>>>>>> -->
        <v-row class="mt-0 px-4">
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">应用标题<span class="red--text text--accent-2 ml-1">*必填</span></span>
            <v-text-field class="jh-v-input" dense filled single-line v-model="editItem.appTitle" :rules="validationRules.requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">复制应用文档<span class="red--text text--accent-2 ml-1">*必填</span></span>
            <v-select class="jh-v-input" dense filled single-line v-model="editItem.copyAppId" :rules="validationRules.requireRules" :items="constantObj.appList"></v-select>
          </v-col>
        </v-row>
        </v-form>
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#xfpageEdit.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
  </v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>
{% endblock %}

{% block vueScript %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    xfPageId: null,
    isSelectCategoryDialogShow: false,
    // 表格相关数据
    isFormValid: true,
    constantObj: {
      category: [],
      categorySearch: [],
      xfPageTagList: [],
      xfPagePublishStatus: [
        {text: "公开", value: "public"},
        {text: "登录可见", value: "login"},
        {text: "草稿", value: "draft"},
        {text: "回收站", value: "deleted"},
      ],
      pageTypeList: [],
    },
    newXfPageTagList: [],
    upload: window.appInfo.upload,
    localImage: null,
    localAudio: null,
    localVideo: null,
    localImageBase64: null,
    isEditDrawerShown: false,
    tableFilterKeyword: null,
    isTableLoading: true,
    tableDataBackups: [],
    currentClickButton: {
      title: '新增文章',
      action: 'add'
    },
    editItem: { 
      appType: "生产应用",
    },
    tableRowActionList: [{
      text: '修改',
      buttonType: 'edit',
      color: 'success',
    }, {
      text: '删除',
      buttonType: 'delete',
      color: 'error',
    },],
    xfPageTemplateOptions: JSON.parse('<$ constantUiMap.template | dump | safe $>'),
    materialType: '',
    writeBackType: '',
    editor: null,
    jsonError: false,
    categorySearchInput: null,
  }),
  computed: {
    tableData() {
      return this.tableDataBackups;
    },
    getEditItem() {
      const {xfPageConfig, ...data} = this.editItem
      return {...data, xfPageConfig: JSON.stringify(xfPageConfig)};
    }
  },
  watch: {
    isHelpPageDrawerShown(val) {
      if (val) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
    categorySearchInput() {
      this.doUiAction('categorySearch')
    },
  },
  async created() {
    const searchParams = new URLSearchParams(location.search.substring(1));
    this.xfPageId = searchParams.get('xfPageId');

    this.buildSelectCategoryOptionList();
  },
  async mounted() {
    if (this.xfPageId) {
      await this.getTableData();
    }
  },
  methods: {
    async doUiAction(actionId, actionData) {
      switch (actionId) {
        case 'categorySearch':
          await this.categorySearch();
          break;
        default:
          console.log('未知的actionId', actionId);
          break;
      }

    },
    async buildSelectCategoryOptionList() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'xfPageEdit',
            actionId: 'selectCategoryList',
            actionData: {},
            whereIn: {categoryPublishStatus: ['public', 'login']},
            orderBy: [{column: 'categoryGroup', order: 'asc'}, {column: 'categoryGroupSort', order: 'asc'}]
          }
        }
      })).data.appData.resultData;
      rows.forEach(item => {
        const text = `${item.categoryGroupConcat || ''}${item.categoryName}`;
        this.constantObj.category.push({text, value: item.categoryId + ""});
      })
    },
    // 选择模板
    changeTemplate(val) {
      const temp = this.xfPageTemplateOptions.find(template => template.value === val);
      this.editItem.xfPageConfig = temp.defaultConfig;
    },
    onProgress(total, loaded, file) {
      // TODO: that.progress <v-overlay :value="uploading"  ==>  不好使
      const progress = Number((loaded * 100 / total).toFixed(2));
      window.vtoast.loading(`${file.name} 上传进度: ${progress}%`);
      if (loaded === total) {
        window.vtoast.success(`${file.name} 上传进度: 100%`);
      }
    },
    async setLocalImage(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `xfPageMaterial/${this.xfPageId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      this.editItem.xfPageCoverImage = downloadPath;
    },
    async setLocalAudio(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `xfPageMaterial/${this.xfPageId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      if (downloadPath) {
        this.localAudio = `/${window.appInfo.appId}/upload${downloadPath}`;
        this.editItem.xfPageAudioUrl = downloadPath;
      }
    },
    async setLocalVideo(event) {
      const file = event.target.files[0];
      window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
      const {downloadPath} = (await window.jianghuAxios.httpUploadByStream({
        file,
        fileDirectory: `xfPageMaterial/${this.xfPageId}`,
        onProgress: (total, loaded) => this.onProgress(total, loaded, file)
      })).data.appData.resultData;
      if (downloadPath) {
        this.localVideo = `/${window.appInfo.appId}/upload${downloadPath}`;
        this.editItem.xfPageVideoUrl = downloadPath;
      }
    },
    clearImage() {
      this.editItem.xfPageCoverImage = null;
    },
    clearAudio() {
      this.editItem.xfPageAudioUrl = null;
    },
    clearVideo() {
      this.editItem.xfPageVideoUrl = null;
    },
    closeMaterialPicker() {
      this.isEditDrawerShown = false;
    },
    async pickerImage() {
      if (!await this.xfPageIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('imageInput').click();
      this.materialType = 'image';
      this.writeBackType = 'attachment';
      this.isEditDrawerShown = true;
    },
    async audioPicker() {
      if (!await this.xfPageIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('audioInput').click();
      this.materialType = 'audio';
      this.writeBackType = 'attachment';
      this.isEditDrawerShown = true;
    },
    async videoPicker() {
      if (!await this.xfPageIdCheck()) {
        window.vtoast.fail("请填写文章信息后,再点击上传文件!");
        return
      }
      // document.getElementById('videoInput').click();
      this.materialType = 'video';
      this.writeBackType = 'attachment';
      this.isEditDrawerShown = true;
    },
    async openImageUploadDrawer() {
      if (await this.xfPageIdCheck()) {
        this.materialType = 'image';
        this.writeBackType = 'editor';
        this.isEditDrawerShown = true;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'xfPageEdit',
            actionId: 'selectItemList',
            where: {
              xfPageId: this.xfPageId
            },
          }
        }
      });
      const editItem = result.data.appData.resultData.rows[0];
      editItem.xfPageConfig = !editItem.xfPageConfig ? {} : JSON.parse(editItem.xfPageConfig);
      this.constantObj.pageTypeList = [];
      this.constantObj.appList = editItem.xfPageConfig.appList.map(e => e.title);
      if (this.constantObj.appList.length > 0) {
        this.editItem.copyAppId = this.constantObj.appList[0];
      }
      this.isTableLoading = false;
    },
    /**
     * 新增文章
     */
    async insertItem() {
      if (!this.$refs.createForm.validate()) {
        window.vtoast.fail({message: "请完善信息"})
        return false;
      }
      const { appTitle, appType, copyAppId } = this.editItem;
      await window.vtoast.loading("新增文章");
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'appSeoApp',
            actionId: 'createItem',
            actionData: { appTitle, appType, copyAppId }
          }
        }
      });
      await window.vtoast.success("新增文章成功");
      // 按id获取新文章并跳转新 url
      await this.reopenEditByArticleId(result.data.appData.resultData.rows[0]);
      return true;
    },
  }
})
</script>

<style scoped>
body {
  overflow: auto;
}

.v-card {
  height: unset;
}

:root {
  --border-color: #eff2f5;
}

.v-dialog--fullscreen .v-sheet {
  height: auto;
  position: relative;
  background: #fff;
  display: block;
}
</style>
{% endblock %}
